*{font-family: 'sans-serif';}
*{background-image: 'https://img.freepik.com/premium-photo/beige-dirty-empty-old-paper-background-paper-texture_255485-443.jpg'}

p:hover{
    color: #EEA429;
}

p{
    color: #EEA429;
}
*{
    font-family: 
    'Gotham'
}


.cruel {
    color: #70644A;
}

[href]{
    color: #E24613;
}

img[src="twimg"]{
    height: 45px;
}




#dog{
    color: #70644A ;
}

.cat{
    font-weight: 100;
}


h1{
    font-size: 40px;
}
table{
   border: #DBD1B8; 
}

