*{font-family: 'Gotham';}
*{background-color:#91966D}

p:hover{
    color: #EEA429;
}

p{
    color: #EEA429;
}



.cruel {
    color: #70644A;
}

[href]{
    color: #E24613;
}

img[src="twimg"]{
    height: 45px;
}




#dog{
    color: #70644A ;
}

.cat{
    font-weight: 100;
}


h1{
    font-size: 40px;
}
table{
   border: #DBD1B8; 
}

